/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .feature h2
  color: #000 !important;
  font-weight: bolder !important;

.home .feature p
  color: #000 !important;

.home .footer
  color: #000 !important;

.nav-item
  color: #000 !important;
  font-weight: 600 !important;

body 
  color: #112d36
  font-weight: 600 !important;
  font-family: 'Poppins', sans-serif;